@import url('https://fonts.googleapis.com/css?family=Modak|Yanone+Kaffeesatz:400,700&display=swap');

header#mainHeader{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: rgb(5, 1, 48);
}

header#mainHeader > section{
    width: 90vw;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header#mainHeader .title, header#mainHeader .authorization{
    cursor: pointer;
}

header#mainHeader .title{
    font-family: 'Modak', cursive;
    font-size : 24px;
    line-height: 100%;
}

header#mainHeader .authorization, header#mainHeader nav{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
}

header#mainHeader .authorization{
    height: 100%;
}

header#mainHeader > section > nav{
    flex-basis: 35%;
    height: 30px;
}

header#mainHeader > section > nav > ul{
    display: flex;
    justify-content: space-between;
}

header#mainHeader > section > nav > ul > li{
    padding: 0 5px;
    list-style: none;
}

header#mainHeader > section  a{
    color: inherit;
}